@import 'variables.scss';
@import 'typography.scss';

$border-solid-grey: solid $color-grey-lighten-2;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $main-font-size;
  -webkit-font-smoothing: antialiased;
  background-color: RGBA(220, 220, 220, 0.2);
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

button:focus {
  outline: 0;
}

.bg-white {
  background: #ffffff;
}

.text-dark {
  color: #ccc !important;
}

.text-blue {
  color: #1989FA !important;
}

.panel {
  border: 1px solid $color-grey-lighten-2;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.panel-md {
  max-width: 800px;
}

.radius-sm {
  border-radius: 2px;
}

.border-right {
  border-right: 1px $border-solid-grey;
}

.border-bottom {
  border-bottom: 1px $border-solid-grey;
}

.label {
  color: #666;
  display: inline-block;
  text-align: right;
}

.label-sm {
  width: 50px;
  padding-right: 8px;
}

.label-md {
  width: 80px;
  padding-right: 8px;
}
.label-middle {
  width: 100px;
  padding-right: 8px;
}
.label-lg {
  width: 120px;
  padding-right: 8px;
}
.label-xl {
  width: 160px;
  padding-right: 8px;
}

.label-left {
  width: 100px;
  display: inline-block;
  text-align: left;
}

.display-5 {
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 1.1;
}

.circle {
  border-radius: 50%;
}

.circle-lg {
  width: 20px;
  height: 20px;
}

.circle-md {
  width: 15px;
  height: 15px;
}

.circle-sm {
  width: 10px;
  height: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

//居中
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login {
  height: 460px;
  width: i480px;
  background: url('https://srxianzhangmen.com/login.png') 100% no-repeat;
  background-size: contain;
}
